/**
 * Color...if you spell it with a `u` I'll 🔪 you!
 *
 * LIGHT
 * background: ffffff
 * background-muted: f7f7f7
 * text-mute: 4c4c4c
 * text-mute-2: aeaeae
 * text-default: 4e4e4e
 * green: 2ebd59
 *
 * DARK [Default]
 * background: 121212
 * background-muted: 242424
 * text-mute: a0a0a0
 * text-mute-2: 8b8b8b
 * text-default: ffffff
 * green: 2ebd59
 */

@font-face {
  font-family: "Droid Sans Ethiopic";
  font-style: normal;
  font-weight: 400;
  src: url(../static/DroidSansEthiopic/DroidSansEthiopic-Regular.woff) format("woff");
}

@font-face {
  font-family: "Droid Sans Ethiopic";
  font-style: bold;
  font-weight: 700;
  src: url(../static/DroidSansEthiopic/DroidSansEthiopic-Bold.woff) format("woff");
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Helvetica Neue", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: transparent;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: all 125ms linear;
  outline: none;
}

[class*="_am_"] {
  font-family: "Droid Sans Ethiopic" !important;
}

h1 {
  font-size: 4em;
}
