{
  "plugins": [
    "emotion",
  ],
  "presets": [
    [
      "@babel/preset-env", {
        "targets": { "safari": 10 },
        "debug": true,
        "useBuiltIns": false
      }
    ],
    "@babel/react"
  ]
}
