{
  "plugins": [
    "emotion",
    "transform-react-inline-elements",
    ["transform-runtime", { "helpers": false, "polyfill": false }]
  ],
  "presets": [
    [
      "env", {
        "targets": { "safari": 10, "uglify": false },
        "debug": true,
        "useBuiltIns": true
      }
    ],
    "react",
  ]
}
