{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": "off",
    "arrow-parens": "off",
    "react/jsx-fragments": "off"
  }
}
