@font-face {
  font-family: 'wolfcola';
  src: url('fonts/wolfcola.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wolfcola' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e900";
  color: #a4c639;
}
.icon-ios:before {
  content: "\e901";
  color: #999;
}
.icon-facebook:before {
  content: "\e905";
  color: #3b5998;
}
.icon-github:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e906";
  color: #e4405f;
}
.icon-messenger:before {
  content: "\e907";
  color: #0084ff;
}
.icon-snapchat:before {
  content: "\e908";
  color: #fffc00;
}
.icon-telegram:before {
  content: "\e909";
  color: #2ca5e0;
}
.icon-twitter:before {
  content: "\e904";
  color: #1da1f2;
}
.icon-linux:before {
  content: "\e90a";
  color: #dd4814;
}
.icon-windows:before {
  content: "\e90b";
  color: #0078d6;
}
.icon-ion-ios-arrow-left:before {
  content: "\f3d2";
}
.icon-ion-ios-arrow-right:before {
  content: "\f3d3";
}
.icon-ion-ios-close-empty:before {
  content: "\f404";
}
.icon-ion-ios-heart-outline:before {
  content: "\f442";
}
.icon-ion-ios-heart:before {
  content: "\f443";
}
.icon-ion-ios-loop-strong:before {
  content: "\f459";
}
.icon-ion-ios-more:before {
  content: "\f46a";
}
.icon-ion-ios-musical-notes:before {
  content: "\f46c";
}
.icon-ion-ios-pause:before {
  content: "\f478";
}
.icon-ion-ios-play:before {
  content: "\f488";
}
.icon-ion-ios-plus-empty:before {
  content: "\f489";
}
.icon-ion-ios-search-strong:before {
  content: "\f4a4";
}
.icon-ion-ios-settings-strong:before {
  content: "\f4a6";
}
.icon-ion-ios-shuffle-strong:before {
  content: "\f4a8";
}
.icon-ion-ios-skipbackward:before {
  content: "\f4ab";
}
.icon-ion-ios-skipforward:before {
  content: "\f4ad";
}
.icon-ion-ios-volume-high:before {
  content: "\f4ce";
}
.icon-ion-ios-volume-low:before {
  content: "\f4cf";
}
.icon-circle:before {
  content: "\f111";
}
