@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e010";
}
.icon-clock:before {
  content: "\e014";
}
.icon-cog:before {
  content: "\e023";
}
.icon-heart:before {
  content: "\e024";
}
.icon-search:before {
  content: "\e036";
}
.icon-skip-back:before {
  content: "\e050";
}
.icon-play:before {
  content: "\e052";
}
.icon-pause:before {
  content: "\e053";
}
.icon-skip-forward:before {
  content: "\e056";
}
.icon-shuffle:before {
  content: "\e057";
}
.icon-reload:before {
  content: "\e080";
}
.icon-share:before {
  content: "\e081";
}
.icon-arrow-left:before {
  content: "\e094";
}
.icon-arrow-right:before {
  content: "\e095";
}
.icon-arrow-up:before {
  content: "\e096";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-volume:before {
  content: "\e098";
}
.icon-mute:before {
  content: "\e099";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-ellipsis:before {
  content: "\e129";
}
